<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
  </head>
  <body>
    <h1>Oops looks like that game doesn't exist in our database!</h1>
    <p>Also this page hasn't been designed yet.. Get on that shit Melina :)</p>
  </body>
</html>
