<header>
  <h1>Ctrl+Sim</h1>
  <nav>
    <input type="text" placeholder="Search.." />
    <a href="/">Home</a>
    <a href="/categories">Categories</a>
    <a href="/submit">Submit a Game</a>
  </nav>
</header>
