<header>
  <a href="/">
    <h1>Ctrl+Sim</h1>
  </a>
  <nav>
    <div class="links">
      <a href="/">Home</a>
      <a href="/categories">Categories</a>
      <a href="/getForm">Submit a Game</a>
    </div>
    <form action="/search" method="post">
      <input type="text" placeholder="Search..." id="search" name="search" />
      <button type="submit">
        <img id="search-icon" src="/images/searchIcon.svg" alt="Search Icon" />
      </button>
    </form>
  </nav>
</header>
