<header>
  <h1>Ctrl+Sim</h1>
  <nav>
    <form action="/search" method="post">
      <input type="text" placeholder="Search..." id="search" name="search" />
    </form>
    <a href="/">Home</a>
    <a href="/categories">Categories</a>
    <a href="/submit">Submit a Game</a>
  </nav>
</header>
