<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('header') %>
    <main>
      <h2>Featured Games</h2>
      <ul class="game-card-container">
        <% games.map(game => { %>
        <li class="card">
          <img
            class="card-image"
            src="<%= game.image_path %>"
            alt="<%= game.name %>"
          />
          <h3><%= game.name %></h3>
        </li>
        <% }); %>
      </ul>
      <a id="all-games-link" href="/allGames">\\ Show More //</a>
    </main>
  </body>
</html>
