<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('header') %>
    <div class="search-results-container">
      <h2>Search Results...</h2>
      <main>
        <ul class="search-result">
          <% games.map(game => { %>
          <li>
            <img src="<%= game.image_path %>" alt="<%= game.name %>" />
            <h3><%= game.name %></h3>
          </li>
          <% }); %>
        </ul>
      </main>
    </div>
  </body>
</html>
