:root {
  --black0: oklch(14.5% 0 0);
  --black1: oklch(20.5% 0 0);
  --hotPink: oklch(59.2% 0.249 0.584);
  --hotPink1: oklch(41% 0.159 10.272);
  --white: oklch(98.5% 0 0);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--black0);
}

/* Header */

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: var(--black0);
}

header h1 {
  color: var(--hotPink);
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav form input {
  padding: 5px 10px;
  background-color: var(--black1);
  border-radius: 10px 0 0 10px;
  border: none;
  font-size: 1.25rem;
  color: var(--hotPink);
  outline: none;
}

nav form {
  margin-right: 20px;
  display: flex;
}

.links {
  margin-right: 50px;
}

.links a {
  font-size: 1.5rem;
  color: gray;
  text-decoration: none;
  margin-left: 20px;
}

.links a:hover {
  color: var(--white);
}

nav form button {
  background-color: var(--hotPink);
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

#search-icon {
  background-color: var(--hotPink);
}

/**/

main {
  padding: 40px;
  background-color: var(--black0);
}

main h2 {
  color: var(--white);
  font-size: 2rem;
  text-align: center;
}

.gameId-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  gap: 50px;
  font-weight: bold;
}

.gameId-container .image-container img {
  border-radius: 10px;
  height: auto;
  min-width: 500px;
}

.game-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style: none;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
}

#catergory-header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.categories-container .card {
  text-align: center;
  border: 2px solid var(--hotPink);
  cursor: pointer;
}

.categories-container .card:hover {
  background-color: var(--hotPink);
}

.categories-container .card:last-child {
  grid-area: 3/2/4/3;
}

.card {
  padding: 10px;
  border-radius: 10px;
}

.card a {
  text-decoration: none;
  color: var(--white);
}

.card-image {
  border-radius: 10px;
  height: auto;
  min-width: 450px;
}

#all-games-link {
  position: relative;
  left: 45%;
  background-color: var(--hotPink);
  color: var(--black0);
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

/* 404 Error Page */

.error404-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--white);
  gap: 50px;
}

/* gameInCategory Page */

.games-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game-card a {
  color: var(--white);
  text-decoration: none;
}

.game-card img {
  border-radius: 10px;
}

/* submitGameForm Page */

.game-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--black0);
}

#game-form-header {
  color: var(--white);
}

.game-form-container form {
  display: grid;
  padding: 40px;
  gap: 10px;
  background-color: var(--black1);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.game-form-container form label {
  color: var(--white);
  font-size: 1.25rem;
}

.game-form-container form input {
  padding: 5px 10px;
  font-size: 1.25rem;
  border-radius: 5px;
  border: none;
}

.game-form-container form button {
  padding: 10px;
  font-size: 1.25rem;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 10px;
  background-color: var(--hotPink);
  color: var(--white);
  font-weight: bold;
  border: none;
}

.game-form-container form button:active {
  background-color: var(--hotPink1);
}

#home-button {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  text-decoration: none;
  background-color: var(--black1);
  padding: 10px;
  font-size: 1.25rem;
  border-radius: 10px;
}

/* Search results page */

.search-results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--black0);
}

.search-results-container h2 {
  color: var(--white);
}

.search-result {
  list-style: none;
  color: var(--white);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.search-item {
  text-decoration: none;
}

/*Delete Button*/

#delete-button {
  width: 100%;
  position: relative;
  bottom: 0;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid var(--hotPink);
  color: var(--hotPink);
  border-radius: 10px;
}

#delete-button:hover {
  background-color: var(--hotPink);
  color: var(--black0);
}

/*Form Error Container*/

.form-error-container {
  list-style: none;
  color: var(--hotPink1);
  padding: 0;
}

/*Search Error Container*/

.search-error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-error-container h1 {
  color: var(--white);
}

.search-error-container a {
  background-color: var(--black1);
  color: var(--white);
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}
