:root {
  --black0: oklch(14.5% 0 0);
  --black1: oklch(20.5% 0 0);
  --hotPink: oklch(59.2% 0.249 0.584);
  --hotPink1: oklch(41% 0.159 10.272);
  --white: oklch(98.5% 0 0);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--black0);
}

/* Header */

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  background-color: var(--black0);
}

header h1 {
  color: var(--hotPink);
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

header form input {
  padding: 5px 10px;
  background-color: var(--black1);
  border-radius: 10px 0 0 10px;
  border: none;
  font-size: 1.25rem;
  color: var(--hotPink);
  outline: none;
  width: 300px;
}

header form {
  display: flex;
}

.links a {
  font-size: 1.5rem;
  color: gray;
  text-decoration: none;
  margin-right: 20px;
}

.links a:hover {
  color: var(--white);
}

header form button {
  background-color: var(--hotPink);
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

#search-icon {
  background-color: var(--hotPink);
}

.sidebar {
  display: none;
}

#sidebar-button-open {
  display: none;
}

#sidebar-button-open,
#sidebar-button-closed {
  background-color: transparent;
  border: none;
}

/* Home Page */

main {
  padding: 40px;
  background-color: var(--black0);
}

main h2 {
  color: var(--white);
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.game-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  place-items: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.gameId-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  gap: 50px;
}

.gameId-container .image-container img {
  border-radius: 10px;
  height: auto;
  max-width: 500px;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 20px;
  list-style: none;
}

#catergory-header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.categories-container .card {
  text-align: center;
  border: 2px solid var(--hotPink);
  cursor: pointer;
  width: 80%;
}

.categories-container .card:hover {
  background-color: var(--hotPink);
}

.categories-container .card:last-child {
  grid-area: 3/2/4/3;
}

.card {
  padding: 10px;
  border-radius: 10px;
}

.card a {
  text-decoration: none;
  color: var(--white);
}

.card-image {
  border-radius: 10px;
  height: auto;
  max-width: 550px;
}

.footer {
  display: flex;
  justify-content: center;
}

#all-games-link {
  background-color: var(--hotPink);
  color: var(--black0);
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

/* 404 Error Page */

.error404-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--white);
  gap: 50px;
}

/* gameInCategory Page */

.games-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  place-items: center;
  gap: 10px;
}

.game-card {
  margin-top: 50px;
}

.game-card a {
  color: var(--white);
  text-decoration: none;
}

.game-card img {
  border-radius: 10px;
}

/* submitGameForm Page */

.game-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--black0);
}

#game-form-header {
  color: var(--white);
}

.game-form-container form {
  display: grid;
  padding: 40px;
  gap: 10px;
  background-color: var(--black1);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.game-form-container form label {
  color: var(--white);
  font-size: 1.25rem;
}

.game-form-container form input {
  padding: 5px 10px;
  font-size: 1.25rem;
  border-radius: 5px;
  border: none;
}

.game-form-container form button {
  padding: 10px;
  font-size: 1.25rem;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 10px;
  background-color: var(--hotPink);
  color: var(--white);
  font-weight: bold;
  border: none;
}

.game-form-container form button:active {
  background-color: var(--hotPink1);
}

#home-button {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  text-decoration: none;
  background-color: var(--black1);
  padding: 10px;
  font-size: 1.25rem;
  border-radius: 10px;
}

/* Search results page */

.search-results-container h2 {
  color: var(--white);
  text-align: center;
}

.search-result {
  list-style: none;
  color: var(--white);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0;
}

.search-item {
  text-decoration: none;
}

.search-item a {
  color: var(--white);
}

.search-item img {
  border-radius: 10px;
}

/*Delete Button*/

#delete-button {
  width: 100%;
  position: relative;
  bottom: 0;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid var(--hotPink);
  color: var(--hotPink);
  border-radius: 10px;
}

#delete-button:hover {
  background-color: var(--hotPink);
  color: var(--black0);
}

/*Form Error Container*/

.form-error-container {
  list-style: none;
  color: var(--hotPink1);
  padding: 0;
}

/*Search Error Container*/

.search-error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-error-container h1 {
  color: var(--white);
}

.search-error-container a {
  background-color: var(--black1);
  color: var(--white);
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

/*Mobile Layout*/

@media screen and (max-width: 390px) {
  body {
    overflow-x: hidden;
  }

  header {
    display: grid;
    padding: 10px;
  }

  #sidebar-button-open {
    display: block;
  }

  .left-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header h1 {
    text-align: right;
  }

  header form input {
    padding: 10px;
  }

  nav {
    display: none;
  }

  .sidebar-open {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: linear-gradient(to right, var(--black0), var(--black1));
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 20px;
    height: 100vh;
  }

  .sidebar-open a {
    color: var(--hotPink);
    font-size: 1.5rem;
    font-family: "Jersey 10", sans-serif;
  }

  main {
    padding: 10px;
    width: 100vw;
  }

  main h2 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .game-card-container {
    justify-content: center;
  }

  .card {
    max-width: 360px;
  }

  .card-image {
    max-width: 350px;
  }

  .categories-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .search-result {
    display: flex;
    flex-direction: column;
  }

  .search-item img {
    height: auto;
    max-width: 350px;
  }

  .gameId-container {
    display: flex;
    flex-direction: column;
  }
}
