:root {
  --black0: oklch(14.5% 0 0);
  --black1: oklch(20.5% 0 0);
  --hotPink: oklch(59.2% 0.249 0.584);
  --white: oklch(98.5% 0 0);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: var(--black0);
}

header h1 {
  color: var(--hotPink);
}

nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav form input {
  padding: 5px 10px;
  background-color: var(--black1);
  border-radius: 10px;
  font-size: 1.25rem;
  color: var(--hotPink);
}

nav form {
  margin-right: 20px;
}

.links a {
  font-size: 1.5rem;
  color: gray;
  text-decoration: none;
  margin-left: 20px;
}

/**/

main {
  padding: 40px;
  background-color: var(--black0);
}

main h2 {
  color: var(--white);
}

.gameId-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.gameId-container .image-container img {
  border-radius: 10px;
}

.game-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style: none;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
}

#catergory-header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.categories-container .card {
  text-align: center;
  border: 2px solid var(--hotPink);
  cursor: pointer;
}

.categories-container .card:hover {
  background-color: var(--hotPink);
}

.categories-container .card:last-child {
  grid-area: 3/2/4/3;
}

.card {
  padding: 10px;
  border-radius: 10px;
}

.card a {
  text-decoration: none;
  color: oklch(98.5% 0 0);
}

.card-image {
  border-radius: 10px;
  height: auto;
  max-width: 500px;
}

#all-games-link {
  position: relative;
  left: 45%;
  background-color: var(--hotPink);
  color: var(--black0);
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

/* 404 Error Page */

.error404-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* gameInCategory Page */

.games-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game-card {
  color: var(--white);
}

.game-card img {
  border-radius: 10px;
}

/* submitGameForm Page */

.game-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--black0);
}

#game-form-header {
  color: var(--white);
}

.game-form-container form {
  display: grid;
  padding: 20px;
  gap: 10px;
  background-color: var(--black1);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

.game-form-container form label {
  color: var(--white);
  font-size: 1.25rem;
}

.game-form-container form input {
  padding: 5px 10px;
  font-size: 1.25rem;
}

.game-form-container form button {
  padding: 10px;
  font-size: 1.25rem;
  cursor: pointer;
}

#home-button {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  text-decoration: none;
  background-color: var(--black1);
  padding: 10px;
  font-size: 1.25rem;
  border-radius: 10px;
}

/* Search results page */

.search-results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--black0);
}

.search-results-container h2 {
  color: var(--white);
}

.search-result {
  list-style: none;
  color: var(--white);
}
